.wrapper {
  width: 35%;
  margin: 16px auto;
}

.img-wrapper {
  width: 30%;
  margin: 0 auto;
}

#avatar-img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

header {
  margin-bottom: 16px;
}

main {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

main label {
  font-weight: bold;
  margin-bottom: 4px;
}

main input {
  margin-bottom: 16px;
}

main button {
  align-self: center;
  background-color: deeppink;
  color: white;
}
