body {
  font-family: Arial, Helvetica, sans-serif;
}

.sections-wrapper {
  display: flex;
  gap: 16px;
}
.sections-wrapper section {
  flex: 1;
  padding: 16px 24px;
  border: 1px solid grey;
  background-color: rgb(219, 219, 219);
}
.img-wrapper {
  max-width: 50%;
}
.img-wrapper img {
  width: 100%;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  border: solid red;
}
.hotel-name {
  margin-bottom: 16px;
}

.hotel-rating div:first-child {
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.checked {
  color: orange;
}
